@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_KBLayout.cshtml";
}


<ul class="breadcrumb">
    <li><a href="/knowledgebase/">Home</a> <span class="divider">/</span></li>
    <li><a href="/knowledgebase/results/">Search Results</a> <span class="divider">/</span></li>
    <li class="active">Knowledgebase Article #1</li>
</ul>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span1">Title</div>
        <div class="span11">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>

    <div class="row-fluid">
        <div class="span1">Keywords</div>
        <div class="span11">
            <i class="icon-bookmark"></i><a href="/knowledgebase/results/" title="Click here to filter by this keyword">lorem</a>
            <i class="pad-left icon-bookmark"></i><a href="/knowledgebase/results/" title="Click here to filter by this keyword">ipsum</a></div>
    </div>

    <div class="row-fluid">
        <div class="span1">Detail</div>
        <div class="span11" style="text-align: justify">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <img src="/img/logo_icon.png" align="right" />
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div> 
    </div>
    
    <div class="row-fluid">
        <div class="span1">Attachment</div>
        <div class="span11"><a href="#">Lorem Ipsum Dummy Document Link</a></div>
    </div>

</div>


<script>
    $(function () {
        $("[title]").tooltip();
    });
</script>