@{
    ViewBag.Title = "Compartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Compartment Search</li>
</ul>

<div class="container-fluid">
    <form class="row-fluid form-horizontal shaded rounded-border" id="searchform" action="/equipment/compartment/" method="post" name="searchform">
        <fieldset>
            <legend>Search for Compartments</legend>

            <div class="controls-row controls">

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Companies</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="textbox input-small" placeholder="1 Item(s)" />
                            <button class="btn btn-lookup" data-toggle="tooltip" title="Click for Lookup" type="button"><i class="icon-search"></i></button>
                            <button class="btn btn-lookup" data-toggle="tooltip" title="Clear Selections" type="button"><i class="icon-remove"></i></button>
                        </div>
                    </div>
                </div>

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Units</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="textbox input-small" placeholder="0 Item(s)" />
                            <button class="btn btn-lookup" data-toggle="tooltip" title="Click for Lookup" type="button"><i class="icon-search"></i></button>
                            <button class="btn btn-lookup" data-toggle="tooltip" title="Clear Selections" type="button"><i class="icon-remove"></i></button>
                        </div>
                    </div>
                </div>

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Compartments</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="textbox input-small" placeholder="0 Item(s)" />
                            <button class="btn btn-lookup" data-toggle="tooltip" title="Click for Lookup" type="button"><i class="icon-search"></i></button>
                            <button class="btn btn-lookup" data-toggle="tooltip" title="Clear Selections" type="button"><i class="icon-remove"></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="controls-row controls">

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">UIN Number</label>
                    <div class="controls">
                        <input type="text" class="textbox input-medium" placeholder="UIN" />
                    </div>
                </div>

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Make</label>
                    <div class="controls">
                        <input type="text" class="textbox input-medium" placeholder="Compartment Make" />
                    </div>
                </div>

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Model</label>
                    <div class="controls">
                        <input type="text" class="textbox input-medium" placeholder="Compartment Model" />
                    </div>
                </div>

            </div>

            <div class="controls-row controls">

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Serial Number</label>
                    <div class="controls">
                        <input type="text" class="textbox input-medium" placeholder="Serial #" />
                    </div>
                </div>

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Type</label>
                    <div class="controls">
                        <input type="text" class="textbox input-medium" placeholder="Compartment Type" />
                    </div>
                </div>

                <div class="span4 control-group">
                    <label class="control-label fields" for="unitid">Has a Filter?</label>
                    <div class="controls">
                        <div class="btn-group btn-toggle-radio" data-toggle="buttons-radio">
                            <button type="button" class="btn">Yes</button>
                            <button type="button" class="btn btn-success active">No</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-actions">
                <div class="pull-right">
                    <button class="btn btn-link">Clear</button>
                    <button class="btn btn-primary"><i class="icon-search"></i>&nbsp;Search</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">

            @Html.Partial("_CompartmentResults")

        </div>
        <div class="span2">
            <div class="row-fluid">
                <div class="span12">
                    <div class="nav nav-list quick-search-sidenav rounded-border">
                        <div>
                            <legend><i class="icon-lightbulb"></i>&nbsp;Further Actions</legend>
                            <div class="btn-group">
                                <button class="btn btn-info"><i class="icon-cloud-download"></i>Export As XML</button>
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icon-cloud-download"></i>Export As CSV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" id="contactdialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Unit Notification Contacts</h3>
    </div>
    <div class="modal-body">
        @Html.Partial("_NotificationContacts")
    </div>
    <div class="modal-footer">
        <button class="btn"><i class="icon-cloud-download"></i>Download</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>

<div class="modal hide fade" id="lookupdialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Lookup Companies</h3>
    </div>
    <div class="modal-body">
        @Html.Partial("_Lookup")
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save Changes</button>
    </div>

</div>

<script>
    $(function () {

        var dataTable = $(".datatable").dataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": false,
            "sDom": 'RC<"clear">lfrtip'
        });
        $(".ColVis_Button").addClass("btn").text("Show / Hide Columns").css({ "margin-left": "5px" });

        $("th.listactions").css("width", "350px");

        $(".viewcontacts").click(function () {
            $("#contactdialog")
                .css({ "width": "900px", "margin-left": "-450px" })
                .modal("show");

            $("#contactdialog .modal-body").css({ "min-height": "590px" });
        });

        $(".btn-lookup").click(function () {
            $("#lookupdialog .datatable").css({ "width": "100%" });

            $("#lookupdialog")
                .draggable()
                .css({ "width": "900px", "margin-left": "-450px" })
                .modal("show");

            $("#lookupdialog .modal-body").css({ "min-height": "590px" });
        });

        $(".datepicker").datepicker();
        $("[title]").tooltip();

        $(".btn-toggle-radio button").click(function () {
            $(this).siblings().removeClass("active btn-success");
            $(this).addClass("active btn-success");
        });

    });
</script>
