@{
    ViewBag.Title = "Edit A Compartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript {
    <script src="~/js/wysihtml5-0.3.0.min.js"></script>
    <script src="~/js/bootstrap-wysihtml5.js"></script>
    <link href="~/css/bootstrap-wysihtml5.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.js"></script>
    <link href="~/css/datepicker.css" rel="stylesheet" />
}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/equipment/compartment/">Compartment Search</a> <span class="divider">/</span></li>
    <li class="active">Edit Compartment</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            @Html.Partial("_ManageCompartment")
        </div>
        <div class="span2">
            <div class="row-fluid">
                <div class="span12">
                    <div class="nav nav-list quick-search-sidenav rounded-border">
                        <div>
                            <legend><i class="icon-lightbulb"></i>&nbsp;Further Actions</legend>
                                <a href="/equipment/editcompartment/" class="btn btn-info"><i class="icon-plus-sign"></i>&nbsp;New Compartment</a>
                                <a href="/equipment/editcompartment/" class="btn btn-info"><i class="icon-copy"></i>&nbsp;Clone Compartment</a>
                                <button id="btn-newfeedback" class="btn btn-info"><i class="icon-plus-sign"></i>Add Feedback</button>
                                <a href="/feedback/search/" class="btn btn-info"><i class="icon-comment"></i>View Feedback</a>
                                <a href="#" class="btn btn-info viewnotifications"><i class="icon-male"></i>&nbsp;View Notification Contacts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" id="feedbackdialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Add Feedback</h3>
    </div>
    <div class="modal-body">
        @Html.Partial("_NewFeedback")
    </div>
    <div class="modal-footer">
        <input class="btn btn-link" type="reset" value="Clear" />
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save Changes</button>
    </div>

</div>

<div class="modal hide fade" id="notificationdialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Notification List Members<h3>
    </div>
    <div class="modal-body">
        @Html.Partial("_NotificationContacts")
    </div>
    <div class="modal-footer">
        <button class="btn btn-send-group-email" aria-hidden="true">Send Group Email</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
<script>
    $(function () {

        $(".datepicker").datepicker();
        $("[title]").tooltip();

        $("#save").click(function () {
            event.preventDefault();
            toastr.success("Those changes were successfully updated.", "Webtrieve9 Says");
            $(".modal").modal("hide");
        });

        $("#btn-newfeedback").click(function () {
            //  show modal to delete tag
            $("#feedbackdialog")
                .draggable()
                .css({ "width": "900px", "margin-left": "-450px" })
                .modal("show");
            $("#feedbackdialog .modal-body").css({ "min-height": "650px" });
        });

        $(".viewnotifications").click(function () {
            $("#notificationdialog")
                .css({ "width": "900px", "margin-left": "-450px" })
                .modal("show");
        });

        $(".btn-send-group-email").click(function () {
            toastr.success("A new email will be opened in your email client addressed to all the people you selected.", "Webtrieve9 Says")
        });

        $(".btn-toggle-radio button").click(function () {
            $(this).siblings().removeClass("active btn-success");
            $(this).addClass("active btn-success");
        });

        $(".richtext").wysihtml5({
            "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
            "emphasis": true, //Italics, bold, etc. Default true
            "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
            "html": false, //Button which allows you to edit the generated HTML. Default false
            "link": true, //Button to insert a link. Default true
            "color": false //Button to change color of font
        }).css({ "height": "100px" });

    });
</script>
