<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Date Posted</th>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Posted By</th>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Feedback Detail</th>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Severity</th>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Visibility</th>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Status</th>
            <th role="columnheader" class="sorting pri-bg-colour pri-fg-colour">Read?</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            while (i < 6)
            {
                i += 2;
            <tr>
                <td>01/01/2013</td>
                <td>Michael Mouse</td>
                <td><a href="/feedback/search" title="Click here to view the Feedback Details">Pellentesque habitant morbi tristique senectus et netus.</a></td>
                <td>Normal</td>
                <td>Internal</td>
                <td>Processed</td>
                <td><i class="icon-check"></i></td>
            </tr>
            <tr>
                <td>01/01/2013</td>
                <td>Michael Mouse</td>
                <td><a href="/feedback/search" title="Click here to view the Feedback Details">Pellentesque habitant morbi tristique senectus et netus.</a><br />
                    <a href="#" title="Click here to view the attachment"><i class="icon-paper-clip"></i>&nbsp;Feedback Attachment Title</a>
                </td>
                <td>Moderate</td>
                <td>Sent To Lab</td>
                <td>Processed</td>
                <td><i class="icon-check-empty"></i></td>
            </tr>                        
            }
        }
    </tbody>
</table>