<div class="container-fluid topnavbar">
    <div class="row-fluid">
        <div class="span2 brand-container">
            <a class="brand" href="#">
                <img src="~/img/logo_icon.png" />
            </a>
        </div>
        <div class="span10">

            <div class="row-fluid menu-bar">

                <div class="span10">
                    <div class="nav-container">
                        <input type="text" class="span6" placeholder="Search the Knowledgebase" />
                        <a href="/knowledgebase/results" title="Search the Knowledge" class="btn">Search</a>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>


<script>
    $(function () {

    });

</script>
