
    <div class="row-fluid">
        <label class="span2" for="unitid">Name</label>
        <div class="span10">
            ALS Cleveland Technical Center
        </div>
    </div>

    <div class="row-fluid">
        <label class="span2" for="unitid">Address</label>
        <div class="span3">
            6180 Halle Dr Ste D Valley View OH 44125
        </div>

        <label class="span2" for="unitid">Primary Contact</label>
        <div class="span3">
            Technical Service
        </div>
    </div>

    <div class="row-fluid">
        <label class="span2" for="unitid">Postal Address</label>
        <div class="span3">
            6180 Halle Dr Ste D Valley View OH 44125
        </div>

        <label class="span2" for="unitid">Telephone</label>
        <div class="span3">
            
        </div>
    </div>

    <div class="row-fluid">

        <label class="span2" for="unitid">State</label>
        <div class="span3">
            OH
        </div>

        <label class="span2" for="unitid">Mobile</label>
        <div class="span3">
            0407 139 027
        </div>

    </div>

    <div class="row-fluid">
        <label class="span2" for="unitid">Country</label>
        <div class="span3">
            USA
        </div>

        <label class="span2" for="unitid">Fax</label>
        <div class="span3">

        </div>
    </div>

    <div class="row-fluid">
        <label class="span2" for="unitid">Parent Company</label>
        <div class="span3">
            <a href="#" title="Click here to view this parent Company">ALS NA Account Parent</a>
        </div>

        <label class="span2" for="unitid">Email</label>
        <div class="span3">
            garima.gupta@alsglobal.com
        </div>
    </div>

    <div class="row-fluid">
        <label class="span2" for="unitid">User/Distributor</label>
        <div class="span3">
            User
        </div>

        <label class="span2" for="unitid">Customer Number</label>
        <div class="span3">
            68583
        </div>
    </div>
