@{
    ViewBag.Title = "New User Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Create a New Account</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="span4 offset3">

            <form id="logoncredentials" name="logoncredentials" action="/" method="post" class="shaded rounded-border form-horizontal">
                <fieldset>
                    <legend>Create a New Account</legend>
                    <div class="row-fluid control-group">
                        <label class="control-label" for="Username">First Name:</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="First Name">
                        </div>
                    </div>

                    <div class="row-fluid control-group">
                        <label class="control-label" for="Username">Last Name:</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="row-fluid control-group">
                        <label class="control-label" for="Username">Email Address:</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="row-fluid control-group">
                        <label class="control-label" for="Username">Company Name:</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="Company">
                        </div>
                    </div>
                    <div class="row-fluid control-group">
                        <label class="control-label" for="Username">Select a Lab</label>
                        <div class="controls">
                            <a href="#" class="btn btn-warning btn-open-map">No Lab Selected Yet</a>
                        </div>
                    </div>
                    <div class="row-fluid control-group">
                        <div class="controls pull-right">
                            <button class="btn btn-link">Clear</button>&nbsp;
                            <button class="btn">Cancel</button>&nbsp;
                            <button class="btn btn-primary"><i class="icon-key"></i>Create Account</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
<div class="modal hide fade" id="mapdialog">
    <img src="~/img/continent-map.gif" />
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Send</button>
    </div>
</div>

<script>
    $(function () {
        $("#logoncredentials").on("submit", function (e) {
            e.preventDefault();
            toastr.success("Your password has been reset and emailed to you.<br><br>Check your email and following the instructions.", "Webtrieve9 Says")
        });

        $(".btn-open-map").click(function () {
            $(this).removeClass("btn-warning").text("Brisbane, Australia").addClass("btn-success");
            $("#mapdialog").modal("show");
        });
    });
</script>
