@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<form id="changepassword" name="changepassword" action="/admin/changeuserpassword/" method="post" class="shaded rounded-border padding-large">
    <label class="control-label" for="oldpassword">Old Password</label>
    <input type="text" id="oldpassword" name="oldpassword" placeholder="Old Password" />

    <label class="control-label" for="newpassword">New Password</label>
    <input type="password" id="newpassword" name="newpassword" placeholder="New Password" />

    <label class="control-label" for="confirmpassword">Confirm New Password</label>
    <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" />

    <div class="form-actions">
        <div class="pull-right">
            <input type="reset" value="Clear" class="btn-link" />&nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" value="Change Password" />
        </div>
    </div>

</form>

<script>
    $(function () {
        $("#changepassword").validate({
            debug: true,
            rules: {
                // simple rule, converted to {required:true}
                oldpassword: "required",
                newpassword: {
                    required: true,
                    minlength: 4
                },
                confirmpassword: {
                    required: true,
                    equalTo: "#newpassword"
                }
            },
            messages: {
                oldpassword: "You did not enter a password",
                newpassword: {
                    required: "You did not enter a new password",
                    minlength: jQuery.format("Must be > than {0} characters")
                },
                confirmpassword: {
                    required: "You did not enter a new password",
                    equalTo: "The passwords do not match"
                }
            }
        });

        $("#changepassword").on('submit', function (e) {
            var isvalidate = $("#changepassword").valid();
            if (isvalidate) {
                e.preventDefault();
                toastr.success("Those changes were successfully updated.", "Webtrieve9 Says")
            }
        });
    });
</script>
