@{
    ViewBag.Title = "Reset Your Password";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<form id="resetpassword" name="resetpassword" action="/admin/userpasswordreset/" method="post" class="shaded rounded-border padding-large">
    <label class="control-label" for="username">Email Address/UserName</label>
    <input type="text" id="username" name="username" placeholder="Email or UserName" />

    <div class="form-actions">
        <div class="pull-right">
            <input type="reset" value="Clear" class="btn-link" />&nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" value="Reset Password" />
        </div>
    </div>

</form>

<script>
    $(function () {
        $("#resetpassword").validate({
            rules: {
                // simple rule, converted to {required:true}
                username: "required"
            },
            messages: {
                username: "You did not enter anything"
            }
        });

        $("#resetpassword").on('submit', function (e) {
            var isvalidate = $("#resetpassword").valid();
            if (isvalidate) {
                e.preventDefault();
                toastr.success('Your password has been reset and delivered to you via email.', 'Webtrieve9 Says')
            }
        });
    });
</script>
